header {
  background-color: $primary;
  color: $secondary;
  padding-inline: 1rem;

  .header {
    display: grid;
    grid-template-columns: 1fr;
    max-width: $container !important;
    margin: auto;
    max-width: 100%;
    color: $secondary;

    &__title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 25%;
      color: $primary;
      padding: 1rem 0;

      img {
        max-width: 115px;
      }
    }
    .navbar {
      .navbar-toggler {
        border-color: white;
      }
      .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: space-around !important;
        width: 100%;

        .nav-item {
          flex: 1;
          text-align: center;
          display: flex;

          .nav-link {
            color: $secondary !important;
          }
        }

        .dropdown {
          display: flex;
          flex-direction: column;

          .dropdown-arrow {
            position: absolute;
            top: 32px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid white;
            z-index: 1;
          }

          .dropdown-toggle::after {
            display: inline !important;
            background-image: url('../../../../static/images/arrow-menu.svg');
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 1rem !important;
            vertical-align: 0 !important;
            content: '';
            border-top: 0 !important;
            border-bottom: 0;
            border-right: 0.5em solid transparent;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
          }

          .dropdown-menu {
            padding-top: 16% !important;
            padding-left: 8px;
            border-radius: 0px !important;
            box-shadow: 0 0 10px 0 rgba(0, 252, 255, 0.6);
            height: 209px;
            z-index: 2;
            width: 187px;

            li {
              height: 50px;

              .dropdown-item {
                &:hover {
                  color: $color-blue;
                  background-color: white;
                }
              }
            }
          }
        }
      }
    }
    .languages {
      display: flex;
      justify-content: center;
      margin-left: 0px;
      .ind-language {
        color: white;
        border-radius: 0px;
        width: 50px;
        border-color: none;
        &:hover,
        &:focus {
          color: $primary !important;
          background-color: $color-blue;
          box-shadow: none;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  header {
    .header {
      min-height: 98px;

      &__title {
        img {
          max-width: initial;
        }
      }
      .dropdown {
        min-width: 200px;

        .dropdown-menu[data-bs-popper] {
          left: 48px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  header {
    .header {
      .languages {
        margin-left: 50px;
      }
      .dropdown-arrow {
        top: -12px !important;
      }
    }
  }
}
