.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-white;
  margin: auto;

  .carousel {
    height: 100vh;

    .carousel-indicators {
      bottom: -50px;

      button {
        background-color: black;
      }
      .active {
        background-color: $color-blue;
      }
    }

    .carousel-inner,
    .carousel-item {
      height: 100%;

      img {
        height: 100vh;
      }

      .title {
        font-size: var(--f-size-banner-title);
      }

      .subtitle {
        font-size: var(--f-size-banner-subtitle);
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      visibility: hidden;
    }

    .carousel-item {
      img {
        object-fit: cover;
      }

      .carousel-caption {
        height: 70%;
      }
    }
  }

  &__news {
    width: 100%;
    margin-block: 3rem;

    &__text {
      margin: auto;
      text-align: center;
      margin-bottom: 3rem;
      padding-inline: 1rem;

      &--section {
        margin: 0;
        font-size: var(--f-size-banner-subtitle);
      }

      &--title {
        margin: 0;
        font-size: var(--f-size-banner-title);
        margin-bottom: 1rem;
      }

      &--description {
        font-size: var(--f-size-small);
        max-width: 700px;
        margin: auto;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      padding-inline: 1rem;
      position: relative;
      &__important {
        display: flex;
        justify-content: center;
        color: $secondary;
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;

        &__info {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          height: 100%;
          width: 90%;
          max-width: 400px;
          min-width: 250px;
          padding-inline: 1rem !important;
          padding: 1rem;

          .title {
            font-size: var(--f-size-title-important);
          }

          .subtitle {
            font-size: var(--f-size-subtitle-important);
          }
        }

        img {
          width: 100%;
          height: auto;
          max-width: 470px;
          object-fit: cover;
        }

        &__new {
          margin-left: 0px;
        }
      }

      .card {
        height: 100%;
        width: 100% !important;
        max-width: 470px;
        border: none;

        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          background-color: #f5f5f5;
          min-height: 280px;

          .card-date {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              margin: 0;
              margin-left: 10px;
            }
          }

          .default-btn {
            height: 40px;
            width: 130px;
            border-radius: 22px;
            background-color: $color-blue;
            border-color: $color-blue;
            color: #000000;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .home {
    .carousel {
      .carousel-control-prev,
      .carousel-control-next {
        visibility: visible !important;
        width: 82px !important;
        &:before {
          content: '';
          position: absolute;
          height: 50px;
          width: 82px;
          background-color: rgba(0, 252, 255, 0.8);
          z-index: -1;
        }
      }

      .carousel-control-prev-icon {
        background-image: url(../../../../static/images/arrow-left--white.png);
      }
      .carousel-control-next-icon {
        background-image: url(../../../../static/images/arrow-right--white.png);
      }

      .carousel-indicators {
        bottom: 0 !important;

        button {
          background-color: white;
        }
        .active {
          background-color: white !important;
        }
      }
    }
  }
}

// @media (min-width: $lg) {
@include media-breakpoint-up(lg) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-white;
    margin: auto;

    .carousel {
      height: 100vh;

      .carousel-inner,
      .carousel-item {
        height: 100%; /* Establece la altura del carrusel y sus elementos internos en el 100% */

        .title {
          font-size: var(--f-size-banner-title);
        }

        .subtitle {
          font-size: var(--f-size-banner-subtitle);
        }
      }

      .carousel-item img {
        object-fit: cover;
      }

      .carousel-caption {
        height: 70%;
      }
    }

    &__news {
      &__content {
        &__important {
          &__info {
            max-width: initial;
            width: 50%;
            padding: 0px;
            padding-bottom: 3rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .home {
    &__news {
      width: 100%;
      margin-block: 3rem;

      &__text {
        margin: auto;
        text-align: center;
        margin-bottom: 3rem;

        &--section {
          margin: 0;
          font-size: var(--f-size-banner-subtitle);
        }

        &--title {
          margin: 0;
          font-size: var(--f-size-banner-title);
          margin-bottom: 1rem;
        }

        &--description {
          font-size: var(--f-size-small);
          max-width: 700px;
          margin: auto;
        }
      }

      &__content {
        flex-direction: row;
        justify-content: space-between;
        height: 507px;
        max-width: $container;
        margin: auto !important;

        &__important {
          margin-bottom: 0px;

          &__info {
            width: 90%;
          }

          img {
            min-width: 470px;
            max-width: 670px;
          }
        }
      }
      .card {
        height: 100%;

        min-width: 470px;
        margin-left: 1rem;
        border: none;
      }
    }
  }
}
